@import views.html.main_template
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

@(appConfig: config.AppConfig, turnoverForm: Form[VatFlatRateModel], turnoverPeriodString: String)(implicit request: Request[_], messages: Messages)

@main_template(title = messages("turnover.title"), bodyClasses = None, appConfig = appConfig) {

@govHelpers.errorSummary(
Messages("base.errorSummary"), turnoverForm
)
<h1>@messages("turnover.heading", turnoverPeriodString)</h1>

<p>@messages("turnover.para.1")</p>


@form(action = controllers.routes.TurnoverController.submitTurnover) {

    <div class="form-group">
        <fieldset>
        @moneyInputFormat(
        turnoverForm("turnover"),
        '_legend -> Messages("turnover.heading", turnoverPeriodString),
        '_legendClass -> "visually-hidden"
        )
        </fieldset>
    </div>

    <button class="button" type="submit" id="continue-button">@Messages("common.continue")</button>

    <div class="form-hidden">
        @helper.inputText(turnoverForm("vatReturnPeriod"), 'type -> "hidden", 'class -> "visually-hidden")
    </div>
}

}